@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap');

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Open Sans', sans-serif;
}

section {
    width: 100%;
}

.button{
    display: block;
    padding: 16px 32px;
    background-color: #FEC921;
    border-radius: 8px;
    width: fit-content;
    margin: 32px auto;
    color: black;
}

.ton{
    background-color: #038900;
    color: #fefefe
}

#logoSection{
    display: none;
    justify-content: center;
    padding-top: 140px;
}

@media only screen and (max-width: 991px){
    #logoSection{
        display: flex;
    }
}

.whatsapp-fixed{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #FFF;
    text-decoration: none;
    font-size: 1.3rem;
    gap: 8px;
    border-radius: 50px;
    padding: 0 16px;
    animation: shake;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    transition: all 0.2s ease-in-out;
}

.whatsapp-fixed:hover{
    padding: 4px 20px;
}

.whatsapp-fixed i{
    font-size: 50px;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    5%{
        transform: translateX(-4px);
    }

    10%{
        transform: translateX(4px);
    }

    15%{
        transform: translateX(-6px);
    }

    20%{
        transform: translateX(6px);
    }

    25%{
        transform: translateX(0);
    }

    100%{
        transform: translateX(0);
    }
}

@media only screen and (max-width: 991px){

    .whatsapp-fixed{
        padding: 12px;
        right: 8px;
        bottom: 8px;
    }

    .whatsapp-fixed p{
        display: none;
    }

    .whatsapp-fixed i{
        font-size: 2.4rem;
    }

}
