@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap');

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Open Sans', sans-serif;
}

section {
    width: 100%;
}

.button{
    display: block;
    padding: 16px 32px;
    background-color: #FEC921;
    border-radius: 8px;
    width: fit-content;
    margin: 32px auto;
    color: black;
}

.ton{
    background-color: #038900;
    color: #fefefe
}
